@import 'tailwindcss';

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #171717;
		--foreground-rgb: 23, 23, 23;
	}

	.dark {
		--background: #171717;
		--foreground: #ededed;
		--foreground-rgb: 237, 237, 237;
	}

	body {
		@apply font-sans transition-colors duration-300;
		background: var(--background);
		color: var(--foreground);
	}
}

@layer utilities {
	.text-primary {
		color: var(--foreground);
	}

	.text-secondary {
		color: rgba(var(--foreground-rgb), 0.8);
	}

	.text-tertiary {
		color: rgba(var(--foreground-rgb), 0.6);
	}

	.text-quaternary {
		color: rgba(var(--foreground-rgb), 0.4);
	}
}
